doctype html
head
  title Travel Experts
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  // CSS from bootstrap
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  // main css
  link(href='/css/main.css' rel='stylesheet')
  // my js
  script(src='/js/main.js')
  style.
    img {
    float: left;
    width: 100%;
    height: 200px;
    object-fit: cover;
    }
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show>.nav-link {
    color: #e5eaee;
    font-size: medium
    }
    .bg-1 {
    background-color: #eaeaef;
    /* Green */
    color: #ffffff;
    }
    .jumbotron {
    background-color: rgb(117, 186, 243);
    color: #fff;
    height: 200px
    }
    .thumbnail {
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #cbd3d6;
    border: 0 solid whitesmoke;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    }
    .caption {
    font-size: medium;
    }
    .quickview {
    color: seashell;
    background-color: rgba(92, 5, 85, 0.527);
    }
    .footc {
    margin: 0px 0px 0px 0px;
    color: blue;
    font-size: small;
    float: left;
    }
// bootstrp code for menu
nav.navbar.navbar-expand-lg.navbar-light.bg-light(style='background-color: rgb(184,191,201); padding: 0px;')
  .container-fluid
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarScroll' aria-controls='navbarScroll' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarScroll.collapse.navbar-collapse(style='background-color: rgb(184, 191, 201);')
      ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll(style='--bs-scroll-height: 100px;')
        li.nav-item
          a.nav-link.active(aria-current='page' href='/')
            b Home
        li.nav-item
          a.nav-link.active(href='/post/create')
            b Register
        li.nav-item.dropdown
          a#navbarScrollingDropdown.nav-link.dropdown-toggle.nav-link.active(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            b Contact
          ul.dropdown-menu(aria-labelledby='navbarScrollingDropdown')
            li
              a.dropdown-item(href='/contact/createcontact')
                font(style='font-family: Arial, Helvetica, sans-serif; font-size: medium;')
                  | Contact Us
            li
              a.dropdown-item(href='/contact/contactmessages')
                font(style='font-family: Arial, Helvetica, sans-serif; font-size: medium;')
                  | View All Customer Inquiries      
            li
              a.dropdown-item(href='Page404.html')
                font(style='font-family: Arial, Helvetica, sans-serif; font-size: medium;')
                  | Online Help
        li.nav-item.dropdown
          a#navbarScrollingDropdown.nav-link.dropdown-toggle.nav-link.active(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            b About Us
          ul.dropdown-menu(aria-labelledby='navbarScrollingDropdown')
            li
              a.dropdown-item(href='AboutUs.html')
                font(style='font-family: Arial, Helvetica, sans-serif; font-size: medium;')
                  | Who We
                  | Are
            li
              a.dropdown-item(href='Page404.html')
                font(style='font-family: Arial, Helvetica, sans-serif; font-size: medium;')
                  | Coporate
                  | Network
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='Page404.html') Social Responsibility
      center
        ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll(style='--bs-scroll-height: 100px;')
          li.nav-item
            a.nav-link.active(aria-current='page' href='/' style='float:left')
              b
              font(style='background-color: rgba(145, 198, 241, 0.699); color:rgb(38, 82, 204)')
                b
                  | Login
      form.d-flex(onsubmit='return redirect();' target='_blank')
        input#search.form-control.me-2(type='search' placeholder='Search' aria-label='Search' onclick='return clearSearchButton();')
        button.btn.btn-outline-success(type='submit' style='color: #f8f9fa; background-color: rgb(79, 154, 230); border-color: steelblue;') Search
// bootstrap code for menu end
header
  .bg-1
    .container.text-center
      img(src='img/logo-trvel.jpg' alt='Banner' style='width: 100%; height: 50%;')
br
br

br
#greet(style='align-items: center; font-size: large; font-family: Arial, Helvetica, sans-serif;font-size:large; font-style: oblique;color: rgb(151, 80, 218);')
        center
            b  #{greeting}
br


.container
    
  .row
    .col-md-4
      .thumbnail
        a(href='img/TheBeach.jpg' target='_blank')
          img(src='img/TheBeach.jpg' alt='Beach' style='float: left;  margin-right: 1%; margin-bottom: 0.5em;')
          .caption
            p
              a(href='https://traveltriangle.com/blog/best-beaches-in-sri-lanka/' target='_blank' style='font-style:italic; font-family:fantasy;')
                | Relax
                | and Get
                | Tan - Best Beaches
              script.
                var beachPackage = "<b>Calgary - Riviera Maya</b><br><br>Grand Riviera Princess All Suites<br>7 Days | Dec 06 - 13<br><b>All Inclusive. Junior Suite!</b>";
              button#beach.quickview(value='QuickView' onclick='openImageInWindow("<b>Calgary - Riviera Maya</b><br><br>Grand Riviera Princess All Suites<br>7 Days | Dec 06 - 13<br><b>All Inclusive. Junior Suite!</b>");') QuickView
    .col-md-4
      .thumbnail
        a(href='img/Adventure.jpg' target='_blank')
          img(src='img/Adventure.jpg' alt='Adventure' style='float: left;  margin-right: 1%; margin-bottom: 0.5em;')
          .caption
            p
              a(href='https://bestoflanka.com/adventure-sri-lanka.php?lId=01' target='_blank') Memorable Adventure packages.
              script.
                var beachPackage = "<b>Calgary - Mountains Adventure</b><br><br> All Suites<br>7 Days | Jul 20 - 27<br><b>All Inclusive. Junior Suite!</b>";
              button#beach.quickview(value='QuickView' onclick='openImageInWindow("<b>Calgary - Mountains Adventure</b><br><br> All Suites<br>7 Days | Jul 20 - 27<br><b>All Inclusive. Junior Suite!</b>");') QuickView
    .col-md-4
      .thumbnail
        a(href='img/NothernLight.jpg' target='_blank')
          img(src='img/NothernLight.jpg' alt='Light' style='float: left;  margin-right: 1%; margin-bottom: 0.5em;')
          .caption
            p
              a(href='https://www.travelyukon.com/en/things-to-do/article/northern-lights' target='_blank') Nothern Lights-The Best show on earth.
              button#beach.quickview(value='QuickView' onclick='openImageInWindow("<b>Nothern Lights!</b><br><br> All Suites<br>5 Days | Sep 15 - 20<br><b>All Inclusive. Junior Suite!</b>");') QuickView
    .col-md-4
      .thumbnail
        a(href='img/TheLake.jpg' target='_blank')
          img(src='img/TheLake.jpg' alt='Lake' style='float: left; margin-right: 1%; margin-bottom: 0.5em;')
          .caption
            p
              a(href='BeachPackage.html' target='_blank') Swim in the Lake- Many to choose.
              button#beach.quickview(value='QuickView') QuickView
    .col-md-4
      .thumbnail
        a(href='img/Tiger.jpg' target='_blank')
          img(src='img/Tiger.jpg' alt='Tiger' style='float: left; margin-right: 1%; margin-bottom: 0.5em;')
          .caption
            p
              a(href='BeachPackage.html' target='_blank') Animal lovers- Wildlife Adventure.
              button#beach.quickview(value='QuickView') QuickView
    .col-md-4
      .thumbnail
        a(href='img/lights.jpg' target='_blank')
          img(src='img/Rice.jpg' alt='Rice' style='float: left; margin-right: 1%; margin-bottom: 0.5em;')
          .caption
            p
              a(href='BeachPackage.html' target='_blank') Mouth watering Food.
              button#beach.quickview(value='QuickView') QuickView
    .col-md-4
      .thumbnail
        a(href='img/GreenMountain.jpg' target='_blank')
          img(src='img/GreenMountain.jpg' alt='GreenMountain' style='float: left; margin-right: 1%; margin-bottom: 0.5em;')
          .caption
            p
              a(href='BeachPackage.html' target='_blank') Hiking Adventures.
              button#beach.quickview(value='QuickView') QuickView
    .col-md-4
      .thumbnail
        a(href='img/Pyramid.jpg' target='_blank')
          img(src='img/Pyramid.jpg' alt='Pyramid' style='float: left; margin-right: 1%; margin-bottom: 0.5em;')
          .caption
            p
              a(href='BeachPackage.html' target='_blank') Curious About Pyramids?
              button#beach.quickview(value='QuickView') QuickView
    .col-md-4
      .thumbnail
        a(href='img/Accomadation.jpg' target='_blank')
          img(src='img/Accomadation.jpg' alt='Accomadation' style='float: left; margin-right: 1%; margin-bottom: 0.5em;')
          .caption
            p
              a(href='BeachPackage.html' target='_blank') Spend Holidays in Countryside
              button#beach.quickview(value='QuickView') QuickView
section
  .col-md-4(style='visibility: hidden;')
    .thumbnail
      a(href='img/TheBeach.jpg' target='_blank')
        img(src='img/ContactUsImage.jpg' alt='Adventure' style='float: left; margin-right: 1%; margin-bottom: 0.5em;')
        .caption
          p Lorem ipsum donec id elit non mi porta gravida at eget metus.
  div(style='margin-top: 30px; align-content: center;')
    a(href='contact.html' target='_blank')
      img(src='img/ContactUsImage.jpg' alt='Contact Us' title='Contact Us' border='3' style='width: 15%; float:left; margin: 50px 0px 0px 0px; border-color: darkslateblue; width: 100px; height: 80px;')
    a(href='post/create')
      img(src='img/SignUp1.jpg' alt='Register' title='Register' border='3' style='width: 15%; float:left; margin: 50px 0px 0px 50px; border-color: darkslateblue; width: 200px; height: 80px;')
    div(style='clear: both;')
  footer.footc
    | &copy; Copyright
    | 2021,
    | TravelExpert.com
// Option 1: Bootstrap Bundle with Popper
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
