center
 .bg-info
  if errors
   ul
    each error in errors
     li.alert.alert-danger.m3= error

  form.row.g-3(action="/login" method="POST")
   .col
    h5 Please Log In
   .col            
    input.form-control(name="username" placeholder="Username" type="text")
   .col
    input.form-control(name="password" type="password" placeholder="Password")
   .col
    button.btn.btn-primary.mb-2 Log In

 a.float-end.bg-info.bg-gradient(href="/post/create") 
    h5 Register



    

