/* Course: Web Application development
Date:2021/07/10
Author: Sujani Wijesundera 
Purpose: TravelExperts main css.  */       

        body {
            font-family: Arial, Helvetica, sans-serif;
            background: rgb(244, 246, 248);
            color: #2479ce;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            background-image: url('../img/Background.jpg');
        }


        .nav-link active{
            color:white
        }

        .navbar-light .navbar-nav .nav-link.active,
        .navbar-light .navbar-nav .show>.nav-link {
            color: #f8f9fa;
            font-size: medium;
        }
        .collapse navbar-collapse, .navbar navbar-expand-lg navbar-light bg-light{
        background-color:  #b2bdbd;
        }

        img {
            float: left;
            width: 50%;
            height: 200px;
            object-fit: cover;
        }

        .thumbnail{
            background-color:#cbd3d6 ;
        }

        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
            
        }

        .fixmargin {
            margin: 50px;
            width: 100%;
            padding: 10px;
        }

        .fontclass {
            color: #167ad6;
            font-family: Georgia, Serif;
        }

        .navbar {
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: #89aee4 
        }
       .footc {
            margin: 0px 0px 0px 0px;
            color: blue;
            font-size: small;
            float: left;
        }